.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App nav {
  height: 60px;
  display: flex;
  justify-content: space-around;
}

nav > * {
  width: 50px;
  display: flex;
}

.App .navIcon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > .content {
  flex: 1;
  display: flex;
}

.content > * {
  flex: 1;
  display: flex;
}

main: {
  flex: 1;
  display: flex;
}

.swipe {
  position: absolute;
}
