.App {
  display: flex;
  min-height: calc(100vh - 60px);
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  background: linear-gradient(45deg, #CC2E1E 53%, #D35235 47%);
}

.App > .content {
  flex: 1;
  display: flex;
}

nav {
  background-color: rgb(250, 250, 250);
}

nav.invisible {
  background-color: #CC2E1E;
}


.content > * {
  flex: 1;
  display: flex;
}

main: {
  flex: 1;
  display: flex;
}

.swipe {
  position: absolute;
}
